.edit_modal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #29241f73;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.edit_cuerpo_modal{
    background: #fff;
    width: 90%;
    height: 90vh;
    max-width: 1550px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.edit_navbar_modal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid  #000;
    align-items: flex-end;
}


.cuadro_trabajo_modal{
    display: flex;
    height: 100%;
    flex-direction: row;
    overflow: auto;
}

.opciones_modal{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #06086fe3;
    color: #fff;
    justify-content:space-around;
    transition: width 1s ease;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.opciones_modal p{
    display: flex;
    height: 50px;
    margin: 0;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.opciones_modal p:hover{
    transform: scale(1.2);
    border-radius: 20px;
    background: #000;
}

.datos_trabajo_modal{
    width: 95%;
    display: flex;
    padding: 15px;
    transition: all 0.3s ease;
    filter: blur(10px);
}

.datos_trabajo_modal tr{
    height: 10px;
}

#tabla_datos_aux thead{
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
}

tbody, thead{
    text-align: center;
}

.cabecera_tabla{
    width: auto;
    align-content: center;
}
.eliminar_dato{
    animation: eliminar 0.5s forwards;
}

@keyframes eliminar{
    from{
        opacity: 1;
        background: #b3b3b3;
    }
    to{
        opacity: 0;
        background: #555454;
    }
}

