.vistaTabla{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #212529;
  min-width: 170px;
  overflow: hidden;
  height: 160px;
  cursor: pointer;
  transition-duration: 0.5s;

}

.vistaTabla .vista_tabla_parrafo{
  text-align: center;
  text-transform: capitalize;
  background:linear-gradient(to right, rgb(14, 3, 110) 25%, rgb(1, 1, 53) 70%);
  color:white;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  height: 45px;
  align-items: flex-start;
}

.vistaTabla .vista_tabla_parrafo > img{
  background-color: aliceblue;
  border-radius: 50%;
  margin: 3px;
}

.vistaTabla .vista_tabla_parrafo > p{
  width: 110px;
  height: 20px;
  overflow: hidden;
}

.vistaTabla div{
  background-color: #4f5a64;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#editable_date{
  height: 80%;
  background-color:rgb(118 117 127 / 74%);
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  opacity: 0.8;
}
.contenido_date_boton{
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.contenido_date_agregar{
  display: flex;
  gap: 10px;
  background-color: #0000004d;
  overflow: auto;
}

.cotenido-date-puppet{
  display: flex;
  margin-bottom: 0rem !important;
  padding: 10px;
  background-color: #071d49c2;
}
::-webkit-scrollbar{
  width: 0.5px;
  background: #0a0a0a;
}
::-webkit-scrollbar-track{
  background: #0a0a0a;
}
::-webkit-scrollbar:hover{
  width: 10px;
}