.vistaTabla{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #212529;
  min-width: 230px;
  overflow: hidden;

  cursor: pointer;
  transition-duration: 0.5s;
}

.vistaTabla p{
  text-align: center;
  text-transform: capitalize;
  background-color: #212529;
  color:white;
  padding-top: 10px;
}

.vistaTabla div{
  background-color: #4f5a64;
  height: 100px;
}

