*{
  padding: 0px;
  margin: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  text-decoration: none;
}
#carga_dato_archivo{
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0; 
  left: 0;
  background-color: #00000087;
  backdrop-filter: blur(10px);
}
#carga_dato_archivo > img{
  border-radius: 30px; 
  animation: mover_objeto 2s ease-in-out infinite
}
.nav_date{
  width: 40px;
  background-color: aliceblue;
  height: 40px;
  border-radius: 50%;
  align-content: center;
  display: grid;
}
.nav_date > img{
  width: 40px;
}
.navbar_date_principal{
  height: 70px;
  width: 100%;
}

.nav_date:hover{
  background-color: rgb(25, 7, 187);
}

@keyframes mover_objeto {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

/* div{
  max-height: 70vh;
  overflow-y: auto;
} */
/* no modificar las opciones de las barra desplegable */
@media (width < 600px){
  .tablas_opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

  }
  #navbar_date{
    display: flex !important;
    position: absolute;
    width: 100%;
    top: 91.7vh;
    gap: 20px;
    height: 70px;
    justify-content: center !important;

  }
}