/* OTROS */
body{
  position: relative;
}

/* ESTILOS DE CONTENIDO DEL ARCHIVO PRINCIPAL */
.tablas_disponibles{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;
}

/*  ESTILOS APLICADOS AL PUPPET  */
#contenido{
  width: 90vw;
  background-color:rgb(231, 231, 231) ;
  box-shadow: 5px 5px 20px black;
  overflow: auto;
  height: 90vh;

  top: 20px;
  right: 0px;
  left: 0px;
  margin: auto;

  position: absolute;
  /* transition: width 0.5s ease; */
}
#btn_cerraPuppet{
  width: 50px;
  height: 50px;
}

.animacion_suave_puppet{
  animation: mover 1s;
}
.animacion_cerrar_puppet{
  animation: eliminar 0.5s;
}
@keyframes mover{
  0% {
      width: 70vh;
  }
  90% {
    width:85vh;
  }
}

@keyframes eliminar{
    0%{
      width: 100vh;
    }
    50%{
      width: 70vh;
    }
    70%{
      width: 50vh;
    }
    100%{
      width: 30vh;
    }
}