body{
  position: relative;
}
/*--------------INFO DEL USUARIO------------  */
.info_usuario{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
}
.conteiner-fotoUsuario{
  width: 70px;
}
.conteiner-fotoUsuario img{
  object-fit: cover;
  width: 100%;
}

/* ----------------TABLAS---------------------- */
.tablas_disponibles{
  display: flex;
  gap: 10px;
  justify-content: center;

  flex-wrap: wrap;
  position: relative;
}

.btn_flotante{
  position: absolute;
  bottom: -30px;
  right: 15px;
}
.icono_agregar{
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 4px;
  cursor:pointer;
  width: 30px;
  height: 30px;
}
.icono_agregar:hover{
  filter:invert(1);
}
.icono_agregar img{
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
}

/* ----------------TABLA OPCIONES---------------------- */
.tablas_opciones{ 
  display:flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  bottom: -40px;
  right: 0px;
  color:white;
  padding: 0px 20px;
}
.tablas_opciones label a{
  text-transform:capitalize;
  background-color: black;
  padding: 7px 13px;
  border-radius: 5px;
}