body{
    background-color: black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
    overflow-y: auto;
    width: 100vw;
}

.conteiner-img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-img img{
    object-fit: cover;
    max-width: 400px;
    width: 100%;
}
#create_count{
    cursor: pointer;
    color: #2316e7;
}
.connect--fiends{
    text-align: center;
    font-size: 1.2rem;
    line-height: 28px;
}
.form *{
    display: block;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 4500px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: rgb(222, 223, 224);
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgb(138, 138, 133);
    transition: height 0.3s ease;
}



.form input[type="email"],
.form input[type="password"],
.form input[type="text"],
.form input[type="submit"]{
    padding: 1rem;
    width: 90%;
    margin-bottom: 10px;
    outline-color: rgb(130, 130, 167);
    border: solid thin #dddfe2;
    border-radius: 6px;
    font-family: inherit;
    font-size: 17px;
    text-align: left;
}

.form input::placeholder{
    color: #615f5f;
}

.form input[type='submit']{
    background-color: hsl(216, 25%, 40%);
    text-align: center;
    padding: .9rem .5rem;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}
.border{
    width: 90%;
    height: 1px;
    background-color: #131212;
    margin: 20px auto;
    text-align: center;
    color: red;
    font-size: 20px;

}
.create-page{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 17px;
    color: #d3d0d0;
}
.create-pages{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 17px;
    color: #070707;
}
.create-page > a{
    color: #dddbdb;
    font-weight: 600;
    text-decoration: none;
}

.cuadro_texto {
    width: 400px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
@media (width < 400px){
    .cuadro_texto {
        width: 95vw;
    }
}
@media (width < 700px){
    .container{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .cuadro_texto{
        height: 45vh;
    }
    .conteiner-img{
        height: 45vh;
    }
    .conteiner-img img{
        height:100%;
    }
}